html {
  font-size: 10px;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration-line: none;
}
body {
  background-color: rgb(255, 255, 255);
  /* display: grid; */
  /* grid-template-areas: */
  /* "header header header header" */
}

/* Header content settings*/

header {
  grid-area: header;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "name name name ."
    "contact1 . . contact3"
    "contact2 . . contact4";
}

.header_name {
  font-size: 4.8rem;
  grid-area: name;
}

header span {
  font-size: 1.6rem;
}

.header__contact-item1 {
  grid-area: contact1;
}

.header__contact-item2 {
  grid-area: contact2;
}

.header__contact-item3 {
  grid-area: contact3;
}

.header__contact-item4 {
  grid-area: contact4;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

.li_skills {
  font-size: 1.6rem;
}

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "section_summary section_summary section_summary ."
    "section_techskills section_techskills . ."
    "section_currentprojects section_currentprojects section_currentprojects section_currentprojects"
    "section_pastexperience section_pastexperience section_pastexperience section_pastexperience";
}

.section_summary {
  grid-area: section_summary;
}

.section_techskills {
  grid-area: section_techskills;
}

.section_currentprojects {
  grid-area: section_currentprojects;
}

.section_pastexperience {
  grid-area: section_pastexperience;
}
